:root{
    --surface-1: #1F1F22;
    --surface-2: #18181B;

    --text-primary: #E8E8EA;
    --text-secondary: #8E8E98;

    --surface-active: #2A2D33;

    --accent: #4F8CFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-primary);
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

button {
    border: none;
    background-color: transparent;
}

svg {
    width: 20px;
    height: 20px;
}

.sidebar {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--surface-1);
    padding: 10px;
}
.page {
    flex: 7;
    display: flex;
    flex-direction: column;
    background-color: var(--surface-2);
    padding: 40px;
}